@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

/* Global CSS Styles */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif, sans-serif;
}

/* Remove or adjust Angular Material overrides if needed */
.mat-mdc-card {
    max-width: 640px;
    margin: 1em;
}

.mdc-notched-outline__notch {
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: none !important;
}

.mdc-card__actions {
    min-height: 0px !important;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
    display: block !important;
    filter: invert(1);
}

.mat-icon,
.mat-icon svg {
    color: white;
    fill: white;
}

@media (prefers-color-scheme: light) {
    .mat-icon,
    .mat-icon svg {
        color: black;
        fill: black;
    }
}

/* Global Material Website Themes */

$dark-theme: mat.define-dark-theme((
    color: (
        primary: mat.define-palette(mat.$pink-palette, 700, 500, 900),
        accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
    ),
    typography: mat.define-typography-config(),
    density: 0,
));

$light-theme: mat.define-light-theme((
    color: (
        primary: mat.define-palette(mat.$indigo-palette),
        accent: mat.define-palette(mat.$pink-palette),
    ),
));

@include mat.all-component-themes($dark-theme);

@media (prefers-color-scheme: light) {
    @include mat.all-component-colors($light-theme);
}